<content class="post-form">


  <h1 class="secondary-header">Edit Post id: <%= @post.id %></h1>

  <%= render partial: 'form', locals: { post: @post } %>

  <%= link_to 'Cancel', posts_path, class: 'cancel-btn' %>

</content>